html, body {
    width: 100%;
}

#root {
    width: 100%;
}

#home {
    height: 800px;
    width: 100%;
}

#about {
    height: 800px;
    width: 100%;
    padding: 5%;
}

#experience {
    height: 800px;
    width: 100%;
    padding: 5%;
}

#projects {
    height: 800px;
    width: 100%;
    padding: 5%;
}

#awards {
    height: 800px;
    width: 100%;
    padding: 5%;
}

#logo-panel {
    justify-items: center;
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#footer {
    width: 100%;
    height: 80px;
}

#logo-panel > img {
    max-width: 80%;
    max-height: 80%
}

nav a:hover {
    cursor: pointer;
}

.title {
    margin-left: 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-style: italic;
    font-weight: bold;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contact .bi {
    margin-left: 7.5px;
    margin-right: 7.5px;
    color: #ddd;
}

.contact .bi:hover {
    color: #bbb;
    cursor: pointer;
}

#footer h6 {
    color: #eee;
    padding-top: 10px;
    margin: 0;
    text-align: center;
}